<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/nuevo_actor.css}">
</head>
<body>
<h1>Nuevo Actor</h1>
<form th:action="@{/actores/nuevo}" method="post">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="first_name" required>
  <br>
  <label for="apellido">Apellido:</label>
  <input type="text" id="apellido" name="last_name" required>
  <br>

  <input type="submit" value="Crear Actor">
</form>

</body>